@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap');

:root{
    --clr-primary: #B0A695;
    --clr-light-1: #F3EEEA;
    --clr-light-2: #EBE3D5;
    --clr-light-3: #776B5D;
    --clr-light-4: #3B362E;
    --clr-dark: #333;
    --clr-warning: rgb(99,36,36);

    --box-size: 2rem;
}

*,
*::before,
*::after {
    font-family: inherit;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    font-family: 'Kantumruy Pro', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    background-color: var(--clr-primary);
    color: var(--clr-dark);
}
.board-grid > .rows{
  display: grid;
  grid-template-columns: repeat(10, var(--box-size));
  grid-auto-rows: var(--box-size);
}
.board-grid .cols {
  border: 1px solid black;
}

.cols.ship {
  background-color: green;
}
.cols.attacked {
  background-color: red;
}
.cols.attacked.ship{
  background-color: purple;
}